body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.commune-label {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
    white-space: nowrap;
}